html {
  background-color: $dark-blue;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
  position: relative;
  height: 100%;
  margin: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}
